.login-form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form .error-message {
    color: red;
    margin-top: 10px;
  }

.logo {
    display: none;
}

.login-form .btn {
    margin-top: 10px;
}

@media (max-width: 767.98px) {
    .login-form {
        width: 100%;
        padding: 20px;
    }

    .logo {
        display: block;
        max-width: 80px;
        margin-bottom: 20px;
    }
}
